<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FlixTube: Advertise</title>
        <link rel="stylesheet" href="css/tailwind.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="flex flex-col">
            <div class="border-b-2 bg-gray-100">
                <div class="nav flex flex-row items-center mt-1 p-2">
                    <div class="text-xl font-bold">
                        FlixTube
                    </div>
                    <div class="ml-4">
                        <a href="/">Videos</a>
                    </div>
                    <div class="ml-4">
                        <a href="/upload">Upload</a>
                    </div>
                    <div class="ml-4">
                        <a href="/history">History</a>
                    </div>
                    <div class="ml-4 border-b-2 border-blue-600">
                        <a href="/advertise">Advertise</a>
                    </div>
                </div>
            </div>

            <div class="m-4">
                <h1>Advertisements</h1>
                <div class="grid grid-cols-3 gap-4 m-4">
                    <div class="border p-4 rounded-lg shadow-md">
                        <a href="https://shopee.co.th/" target="_blank">
                            <img src="/img/shopee.png" alt="Shopee" class="w-full h-40 object-cover rounded-md">
                            <p class="text-center mt-2 font-semibold">Shop on Shopee</p>
                        </a>
                    </div>
                    <div class="border p-4 rounded-lg shadow-md">
                        <a href="https://www.lazada.co.th/" target="_blank">
                            <img src="/img/lazada.png" alt="Lazada" class="w-full h-40 object-cover rounded-md">
                            <p class="text-center mt-2 font-semibold">Shop on Lazada</p>
                        </a>
                    </div>
                    <div class="border p-4 rounded-lg shadow-md">
                        <a href="https://www.kaidee.com/" target="_blank">
                            <img src="/img/kaidee.png" alt="Kaidee" class="w-full h-40 object-cover rounded-md">
                            <p class="text-center mt-2 font-semibold">Buy & Sell on Kaidee</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
